<ion-header>
  <ion-toolbar>
    <ion-title>Recuperação de conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Recuperação de conta</h2>
    <p>
      Informe o e-mail, número de celular ou nome de usuário associado à sua
      conta para alterar sua senha.
    </p>
    <ion-input
      type="email"
      placeholder="Email ou número de celular"
      class="input-box"
    ></ion-input>
    <ion-button expand="block" class="recovery-btn">
      Enviar Código de Recuperação
    </ion-button>
    <a href="#" class="back-link">Voltar</a>
  </div>
</ion-content>